POSTGRES_USER=gdt
POSTGRES_PASSWORD=change-me
POSTGRES_DB=gdt
POSTGRES_HOST=localhost
DB_PORT=5432

BCRYPT_COST=12

JWT_SECRET=example-secret-must-be-changed-for-real
JWT_TTL=1h

PORT=8080
ADDRESS=localhost

