POSTGRES_USER=gdt
POSTGRES_PASSWORD=change-me
POSTGRES_DB=gdt
POSTGRES_HOST=localhost
DB_PORT=5432

BCRYPT_COST=12

JWT_SECRET=example-secret-must-be-changed-for-real
JWT_TTL=1h

LOGIN_MAX_FAILURES_PER_EMAIL=5
LOGIN_MAX_FAILURES_PER_IP=50
LOGIN_FAILURE_WINDOW=15m

PORT=8080
ADDRESS=localhost

